
  <div class="contents">
    <div class="container">
 
        <div class=" " style="max-width: 50%;
        margin: auto;">
        <div class="text-center login">
          <form class="form-signin">
            <img class="mb-4" src="https://cdn3.vectorstock.com/i/1000x1000/08/42/user-icon-male-person-profile-avatar-symbol-vector-20910842.jpg " alt="" width="72" height="72" class="rounded-circle">
            <h4 class="h5 mb-3 font-weight-normal text-light    ">Please sign up</h4>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <div class="checkbox mb-3">
                <p class="text-sm text-gray-600 flex items-center text-light">
                     
                    Already have an account?  <a [routerLink]="['/login-admin']"  class="text-success">Sign in</a>
                  </p>
            </div>
           
            <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded text-light">
                Sign up
              </button>
            <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p> -->
          </form>
        
        </div>
        </div>
      </div>
      
</div>
  